<h1> My name is <b><em>{{.Name}}</em></b></h1>
<p> My age is <b>{{.Age}}</b></p>
<p> My email is <b>{{.Email}}</b></p>
<p> My address is <b>{{.Address}}</b></p>
<p> My phone number is <b>{{.Phone}}</b></p>
